.pricing {
    background-image: url(../../dist/images/img-decor-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4B3B4E;

    &-title {
        padding: 83px 0 61px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;

        @media (max-width: 992px) {
            padding-bottom: 39px;
            font-size: 42px;
            line-height: 48px;
        }

        @media (max-width: 992px) {
            font-size: 42px;
            line-height: 44px;
        }

        @media (max-width: 560px) {
            font-size: 28px;
            line-height: 42px;
        }
    }

    &-tariffs {
        width: 1140px;
        margin: 0 auto;
        padding-bottom: 70px;

        @include dispFlexSpaceBetween;
        flex-wrap: wrap;

        @media (max-width: 1200px) {
            width: 970px;
        }

        @media (max-width: 992px) {
            width: 622px;
            padding-bottom: 94px;
            padding-right: 42px;
        }

        @media (max-width: 760px) {
            width: 530px;
            padding-right: 40px;
        }       
        
        @media (max-width: 560px) {
            width: 299px;
            padding: 0;
            justify-content: center;
        }
    }
}

.tariff {
    width: 257px;
    margin: 50px 0 50px;
    background-color: rgba(255, 255, 255, 0.11);

    @media (max-width: 1200px) {
        width: 220px;
    }

    @media (max-width: 992px) {
        width: 257px;
        margin: 0 0 30px;

        &:first-child {
            margin-left: 42px;
        }

        &:nth-child(4) {
            margin: 50px 0 50px;
        }
    
    }

    @media (max-width: 760px) {
        width: 220px;

        &:first-child {
            margin-left: 40px;
        }
    }

    @media (max-width: 560px) {
        width: 257px;
        margin: 0 0 18px;

        &:first-child {
            margin-left: 0px;
        }

        &:nth-child(4) {
            margin: 0 0 18px;
        }
    }

    &--active {
        width: 299px;
        background-color: rgba(70, 48, 72, 0.84);

        @media (max-width: 1200px) {
            width: 260px;
        }

        @media (max-width: 992px) {
            width: 299px;
        }

        @media (max-width: 760px) {
            width: 260px;
        }

        @media (max-width: 560px) {
            width: 299px;
            margin: 0 0 18px;
        }
    }

    &-title {
        padding: 36px 0;
        background-color: rgba(255, 255, 255, 0.06);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        &--active {
            padding: 43px 0;
            background-color: rgba(0, 0, 0, 0.11);
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;    
        }
    }

    &-desc {
        
        padding: 30px 0 37px;
        width: 100%;

        &--active {
            width: 100%;
            padding: 14px 0 47px;
        }


    }

    &-price {
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 90px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        &--active {
            margin-bottom: 16px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 82px;
            line-height: 90px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    &-period {
        position: relative;
        margin-bottom: 73px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        &::after {
            position: absolute;
            left: 99px;
            bottom: -38px;
            content: "";
            width: 60px;
            height: 5px;
            background: #8D81AC;

            @media (max-width: 1200px) {
                left: 81px;
            }

            @media (max-width: 992px) {
                left: 99px;
            }

            @media (max-width: 760px) {
                left: 81px;
            }

            @media (max-width: 560px) {
                left: 99px;
            }
        }

        &--active {
            position: relative;
            margin-bottom: 91px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;    

            &::after {
                position: absolute;
                left: 120px;
                bottom: -46px;
                content: "";
                width: 60px;
                height: 5px;
                background: #8D81AC;
    
                @media (max-width: 1200px) {
                    left: 99px;
                }
    
                @media (max-width: 992px) {
                    left: 120px;
                }

                @media (max-width: 760px) {
                    left: 99px;
                }

                @media (max-width: 560px) {
                    left: 120px;
                }

            }
        }
    }

    &-advantage {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    &-purchase {
        display: block;
        width: 163px;
        margin: 36px auto 0;
        padding: 15px 0;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 40px;
        
        &-bottom {
            margin-top: 54px;
        }

        &--active {
            display: block;
            width: 190px;
            margin: 83px auto 0;
            padding: 18.5px 0;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 40px;
        }
    }


}