@mixin dispFlexCenter {
  display: flex;
  justify-content: center;
}

@mixin dispFlexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin dispFlexSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}