@import "reset.css";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: relative;
  height: 800px;
  background-image: url("../dist/images/header-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 480px) {
  .header {
    height: 718px;
  }
}

.container {
  width: 1200px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .container.medium {
    padding: 0;
  }
}

.navbar-wrap {
  display: flex;
  position: relative;
  width: 100%;
  padding: 30px 10px 0 10px;
  margin-bottom: 112.5px;
}
@media (max-width: 992px) {
  .navbar-wrap {
    flex-direction: column;
    align-items: center;
    background-color: #27262A;
    padding: 22px 20px 18px 20px;
    margin-bottom: 69px;
  }
}
@media (max-width: 480px) {
  .navbar-wrap {
    flex-direction: row;
    padding: 32px 15px 30px 15px;
    margin-bottom: 50px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.navbar-logo .logo-img {
  width: 43px;
  height: 41px;
  margin-right: 17px;
  background-image: url("../dist/images/Logo 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 480px) {
  .navbar-logo .logo-img {
    margin-right: 0;
  }
}
.navbar-logo .logo-text {
  width: 118px;
  text-align: left;
  color: #8D81AC;
  padding-bottom: 8px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .navbar-logo .logo-text {
    display: none;
  }
}
.navbar-logo:hover .logo-img {
  background-image: url("../dist/images/logo-hover 1.png");
}
.navbar-logo:hover .logo-text {
  color: #FFFFFF;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar__link {
  color: #8D81AC;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 48px;
  cursor: pointer;
}
.navbar__link:hover {
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .navbar__link {
    display: none;
  }
}
.navbar__link.medium {
  display: none;
}
@media (max-width: 992px) {
  .navbar__link.medium {
    display: flex;
    margin-right: 23px;
    padding-top: 22px;
  }
  .navbar__link.medium:last-child {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .navbar__link.medium {
    display: none;
  }
}

.burger-menu {
  display: none;
}
.burger-menu.active .line1 {
  transform: rotate(-315deg);
}
.burger-menu.active .line2 {
  transform: translateX(41px);
}
.burger-menu.active .line3 {
  transform: rotate(315deg);
}
@media (max-width: 480px) {
  .burger-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.line {
  background-color: #FFFFFF;
  width: 25px;
  height: 2.5px;
  border-radius: 5px;
  margin-bottom: 6.5px;
  transform-origin: left;
  transition: all 0.6s;
}
.line:last-child {
  margin-bottom: 0;
}

.burger-navbar {
  display: none;
  width: 292px;
  height: 364px;
  position: absolute;
  top: 103px;
  right: 15px;
  background-color: #333333;
}
.burger-navbar.active {
  display: block;
}

.burger-navbar__link {
  position: relative;
  height: 88px;
  padding: 29px 0 21px 35px;
  border-bottom: 3px solid #3B3B3B;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  cursor: pointer;
  overflow: hidden;
}
.burger-navbar__link:hover {
  color: #8D81AC;
}
.burger-navbar__link::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 53px;
  left: -10px;
  bottom: 16px;
  background-color: #8D81AC;
}
.burger-navbar__link:hover::before {
  left: 2px;
}

.btn-header {
  border-radius: 40px;
  border: 2px solid #8D81AC;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  background-color: #8D81AC;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.btn-header:hover {
  color: #8D81AC;
  background-color: #FFFFFF;
}
.btn-header.btn-small {
  width: 145px;
  height: 38px;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 480px) {
  .btn-header.btn-small {
    width: 119px;
  }
}
.btn-header.btn-big {
  position: absolute;
  width: 390px;
  height: 62px;
  bottom: -31px;
  font-size: 21px;
  line-height: 21px;
}
@media (max-width: 480px) {
  .btn-header.btn-big {
    width: 290px;
    height: 45px;
    bottom: -22.5px;
    font-size: 18px;
    line-height: 20px;
  }
}

.header-title {
  color: #FFFFFF;
  margin-bottom: 19px;
  font-size: 82px;
  font-weight: 700;
  line-height: 82px;
  text-align: center;
}
@media (max-width: 992px) {
  .header-title {
    font-size: 72px;
    line-height: 72px;
  }
}
@media (max-width: 480px) {
  .header-title {
    font-size: 48px;
    line-height: 48px;
  }
}

.header-text {
  color: #8D81AC;
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 19px;
}
@media (max-width: 992px) {
  .header-text {
    font-size: 24px;
    line-height: 24px;
    padding: 0 40px;
  }
}
@media (max-width: 480px) {
  .header-text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px;
  }
}

.header-text-small {
  color: #848E97;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
@media (max-width: 992px) {
  .header-text-small {
    font-size: 14px;
    line-height: 14px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.text-trial-period {
  position: absolute;
  bottom: -65px;
  color: #848E97;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
@media (max-width: 480px) {
  .text-trial-period {
    line-height: 14px;
    bottom: -50px;
  }
}

.people-talking {
  background-image: url("../dist/images/people-talking-bg_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.people-talking-title {
  color: #FFFFFF;
  padding: 108px 0 82px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .people-talking-title {
    font-size: 42px;
    line-height: 44px;
    padding: 87px 0 88px 0;
  }
}
@media (max-width: 480px) {
  .people-talking-title {
    font-size: 36px;
    line-height: 48px;
    padding: 67px 0 53px 0;
  }
}

.people-talking-grid {
  display: grid;
  grid-template-rows: 152px 152px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 110px;
  column-gap: 125px;
  margin-bottom: 118px;
}
@media (max-width: 992px) {
  .people-talking-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;
    column-gap: 80px;
    margin-bottom: 68px;
  }
}
@media (max-width: 560px) {
  .people-talking-grid {
    column-gap: 10px;
  }
}
@media (max-width: 480px) {
  .people-talking-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    row-gap: 41px;
  }
}

.people-talking-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 480px) {
  .people-talking-item {
    padding: 0 15px;
  }
}
.people-talking-item .item-text {
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding-top: 20px;
}
.people-talking-item .item-img-1 {
  width: 165px;
  height: 43px;
}
.people-talking-item .item-img-2 {
  width: 148px;
  height: 50px;
}
.people-talking-item .item-img-3 {
  width: 64px;
  height: 64px;
}
.people-talking-item .item-img-4 {
  width: 225px;
  height: 24px;
}
.people-talking-item .item-img-5 {
  width: 166px;
  height: 34px;
}
.people-talking-item .item-img-6 {
  width: 108px;
  height: 34px;
}

.people-talking-bottom-text {
  position: relative;
  width: 887px;
  color: #A291A5;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
@media (max-width: 1200px) {
  .people-talking-bottom-text {
    width: 730px;
  }
}
@media (max-width: 760px) {
  .people-talking-bottom-text {
    width: 460px;
  }
}
@media (max-width: 480px) {
  .people-talking-bottom-text {
    width: 252px;
  }
}
.people-talking-bottom-text::after {
  position: absolute;
  content: "";
  width: 780px;
  height: 2px;
  left: 53.5px;
  bottom: 32px;
  background-color: #645766;
}
@media (max-width: 1200px) {
  .people-talking-bottom-text::after {
    width: 666px;
    left: 32px;
  }
}
@media (max-width: 760px) {
  .people-talking-bottom-text::after {
    width: 420px;
    left: 20px;
  }
}
@media (max-width: 480px) {
  .people-talking-bottom-text::after {
    width: 230px;
    left: 11px;
  }
}

.revolutionary-editor__title {
  margin-top: 129px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;
}
@media (max-width: 992px) {
  .revolutionary-editor__title {
    font-size: 42px;
    line-height: 42px;
  }
}
@media (max-width: 480px) {
  .revolutionary-editor__title {
    font-size: 26px;
    line-height: 26px;
  }
}
.revolutionary-editor__description {
  margin-top: 35px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #323232;
}
@media (max-width: 480px) {
  .revolutionary-editor__description {
    font-size: 14px;
    line-height: 20px;
  }
}

.button-wrapper {
  margin: 15px auto 70px;
  width: 365px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .button-wrapper {
    width: 251px;
    flex-wrap: wrap;
  }
}

.btn {
  height: 26px;
  display: flex;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}
@media (max-width: 480px) {
  .btn:last-child {
    margin: 20px auto 0;
  }
}
.btn-name-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(239, 239, 239) 100%);
  border-right: 1px solid #DDDDDD;
  cursor: pointer;
}
.btn-name-wrap:hover {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(239, 239, 239) 100%);
}
.btn-name {
  margin-left: 2px;
  font-size: 12px;
  font-weight: 700;
}
.btn-counter {
  width: 45px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  overflow: hidden;
  background: #F4F4F4;
}
@media (max-width: 992px) {
  .features {
    background: #fff;
  }
}
.features-title {
  margin-bottom: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #8D81AC;
}
.features-title--hidden {
  display: none;
  text-align: center;
  font-size: 42px;
  line-height: 42px;
}
@media (max-width: 992px) {
  .features-title--hidden {
    display: block;
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .features-title--hidden {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 992px) {
  .features-title--visible {
    display: none;
  }
}
.features-img {
  height: 519px;
  margin-left: -20px;
}
@media (max-width: 992px) {
  .features-img {
    margin-top: 15px;
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .features-img {
    height: 381px;
    margin-left: -20px;
  }
}

.features-wrapper {
  padding: 98px 0 33px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .features-wrapper {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .features-wrapper {
    max-width: 700px;
    display: block;
    padding: 60px 0 0;
  }
}
@media (max-width: 760px) {
  .features-wrapper {
    max-width: 450px;
  }
}
@media (max-width: 480px) {
  .features-wrapper {
    max-width: 275px;
    padding-top: 32px;
  }
}
.features-wrapper__content {
  width: 500px;
}
@media (max-width: 1200px) {
  .features-wrapper__content {
    width: 414px;
  }
}
@media (max-width: 992px) {
  .features-wrapper__content {
    width: 100%;
  }
}
.features-wrapper__title {
  width: 587px;
}
@media (max-width: 1200px) {
  .features-wrapper__title {
    width: 470px;
  }
}
@media (max-width: 992px) {
  .features-wrapper__title {
    width: 100%;
  }
}

.feature {
  margin-bottom: 34px;
  display: flex;
}
@media (max-width: 992px) {
  .feature {
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .feature {
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
  }
}
.feature svg {
  margin: 0 auto;
}
.feature__content {
  width: 362px;
}
@media (max-width: 1200px) {
  .feature__content {
    width: 280px;
  }
}
@media (max-width: 992px) {
  .feature__content {
    width: 575px;
  }
}
@media (max-width: 760px) {
  .feature__content {
    width: 295px;
  }
}
@media (max-width: 480px) {
  .feature__content {
    width: 100%;
  }
}
.feature__content-title {
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
}
@media (max-width: 480px) {
  .feature__content-title {
    margin-top: 20px;
    margin-bottom: 14px;
    text-align: center;
  }
}
.feature__content-desc {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
}
@media (max-width: 760px) {
  .feature__content-desc {
    font-family: "Lato", sans-serif;
  }
}
@media (max-width: 480px) {
  .feature__content-desc {
    text-align: center;
  }
}

.pricing {
  background-image: url(../../dist/images/img-decor-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4B3B4E;
}
.pricing-title {
  padding: 83px 0 61px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .pricing-title {
    padding-bottom: 39px;
    font-size: 42px;
    line-height: 48px;
  }
}
@media (max-width: 992px) {
  .pricing-title {
    font-size: 42px;
    line-height: 44px;
  }
}
@media (max-width: 560px) {
  .pricing-title {
    font-size: 28px;
    line-height: 42px;
  }
}
.pricing-tariffs {
  width: 1140px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .pricing-tariffs {
    width: 970px;
  }
}
@media (max-width: 992px) {
  .pricing-tariffs {
    width: 622px;
    padding-bottom: 94px;
    padding-right: 42px;
  }
}
@media (max-width: 760px) {
  .pricing-tariffs {
    width: 530px;
    padding-right: 40px;
  }
}
@media (max-width: 560px) {
  .pricing-tariffs {
    width: 299px;
    padding: 0;
    justify-content: center;
  }
}

.tariff {
  width: 257px;
  margin: 50px 0 50px;
  background-color: rgba(255, 255, 255, 0.11);
}
@media (max-width: 1200px) {
  .tariff {
    width: 220px;
  }
}
@media (max-width: 992px) {
  .tariff {
    width: 257px;
    margin: 0 0 30px;
  }
  .tariff:first-child {
    margin-left: 42px;
  }
  .tariff:nth-child(4) {
    margin: 50px 0 50px;
  }
}
@media (max-width: 760px) {
  .tariff {
    width: 220px;
  }
  .tariff:first-child {
    margin-left: 40px;
  }
}
@media (max-width: 560px) {
  .tariff {
    width: 257px;
    margin: 0 0 18px;
  }
  .tariff:first-child {
    margin-left: 0px;
  }
  .tariff:nth-child(4) {
    margin: 0 0 18px;
  }
}
.tariff--active {
  width: 299px;
  background-color: rgba(70, 48, 72, 0.84);
}
@media (max-width: 1200px) {
  .tariff--active {
    width: 260px;
  }
}
@media (max-width: 992px) {
  .tariff--active {
    width: 299px;
  }
}
@media (max-width: 760px) {
  .tariff--active {
    width: 260px;
  }
}
@media (max-width: 560px) {
  .tariff--active {
    width: 299px;
    margin: 0 0 18px;
  }
}
.tariff-title {
  padding: 36px 0;
  background-color: rgba(255, 255, 255, 0.06);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tariff-title--active {
  padding: 43px 0;
  background-color: rgba(0, 0, 0, 0.11);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tariff-desc {
  padding: 30px 0 37px;
  width: 100%;
}
.tariff-desc--active {
  width: 100%;
  padding: 14px 0 47px;
}
.tariff-price {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tariff-price--active {
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 82px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tariff-period {
  position: relative;
  margin-bottom: 73px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tariff-period::after {
  position: absolute;
  left: 99px;
  bottom: -38px;
  content: "";
  width: 60px;
  height: 5px;
  background: #8D81AC;
}
@media (max-width: 1200px) {
  .tariff-period::after {
    left: 81px;
  }
}
@media (max-width: 992px) {
  .tariff-period::after {
    left: 99px;
  }
}
@media (max-width: 760px) {
  .tariff-period::after {
    left: 81px;
  }
}
@media (max-width: 560px) {
  .tariff-period::after {
    left: 99px;
  }
}
.tariff-period--active {
  position: relative;
  margin-bottom: 91px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tariff-period--active::after {
  position: absolute;
  left: 120px;
  bottom: -46px;
  content: "";
  width: 60px;
  height: 5px;
  background: #8D81AC;
}
@media (max-width: 1200px) {
  .tariff-period--active::after {
    left: 99px;
  }
}
@media (max-width: 992px) {
  .tariff-period--active::after {
    left: 120px;
  }
}
@media (max-width: 760px) {
  .tariff-period--active::after {
    left: 99px;
  }
}
@media (max-width: 560px) {
  .tariff-period--active::after {
    left: 120px;
  }
}
.tariff-advantage {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
.tariff-purchase {
  display: block;
  width: 163px;
  margin: 36px auto 0;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
}
.tariff-purchase-bottom {
  margin-top: 54px;
}
.tariff-purchase--active {
  display: block;
  width: 190px;
  margin: 83px auto 0;
  padding: 18.5px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
}

/*# sourceMappingURL=style.css.map */
